[package]
name = "gugalanna-net"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
reqwest.workspace = true
url.workspace = true
tokio.workspace = true
thiserror.workspace = true
log.workspace = true
